body{
    background-image: linear-gradient(to bottom right, rgba(170, 170, 170, 0.4), rgba(155, 230, 255, 0.4));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.NavBar{
    width: 97vw;
    height: 5vw;
    border: 2px solid;
    border-radius: .4vw;
    margin: auto;
    /*box-shadow: 0 0 15px 30px red inset, 0 0 20px 5px red;*/
    background-image: linear-gradient(to top left, gray 30%, rgb(0, 191, 255));
    transition: .7s;
    justify-content: space-between;
    display: flex;
}

.VisszaButton{
    display: flex;
}

.VisszaButtonIMG img{
    width: 4vw;
    margin-top: .5vw;
    transition: .6s;
    position: relative;
    z-index: 1;
}

.VisszaButtonP p{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.5vw;
    margin-left: -5vw;
    opacity: 0;
    margin-top: 1.7vw;
    transition: .6s;
}

.VisszaButtonIMG:hover + .VisszaButtonP p{
    opacity: 1;
    margin-left: 0vw;
}

.SearchBar{
    border: 2px solid white;
    width: 17vw;
    height: 3vw;
    margin-top: .8vw;
    margin-right: 1vw;
    border-radius: .7vw;
    display: flex;
}

.H1CLass h1{
    color: white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 2vw;
    transition: .6s;
}

.FilterDiv{
    border-right: 2px solid white;
    width: 3vw;
    height: 3vw;
    transition: .5s;
}

.FilterDiv img{
    width: 2.5vw;
    cursor: pointer;
    padding: .25vw;
    border-top-left-radius: .7vw;
    border-bottom-left-radius: .7vw;
    transition: .6s;
}

.FilterDiv img:hover{
    background-color: rgba(92, 92, 92, 0.7);
}

.SearchIMG img{
    width: 2vw;
    padding: .2vw;
    border-radius: .7vw;
    cursor: pointer;
    transition: .6s;
    margin-left: .3vw;
    margin-top: .3vw;
}

.SearchIMG img:hover{
    background-color: rgba(92, 92, 92, 0.7);
}

.SearchInput{
    margin: auto;
    width: 12vw;
    margin-left: .4vw;
}

.SearchInput input{
    float: left;
    width: 1vw;
    height: 1.5vw;
    border-radius: .7vw;
    background-color: rgba(92, 92, 92, 0.7);
    border: 1px solid white;
    color: white;
    position: relative;
    transition: .7s;
    opacity: 0;
}

.SearchInput input[type=text]{
    padding-left: .7vw;
}

.SearchInput input::placeholder{
    color: white;
}

.SearchInput input[type=text]:focus{
    border: 1px solid white !important;
}

.SearchIMG:hover + .SearchInput input{
    width: 9vw;
    opacity: 1;
}

.SearchShow{
    animation: SearchShow .7s forwards;
}

@keyframes SearchShow {
    100%{width: 9vw; opacity: 1;}
}