body{
    background-color: rgb(61, 61, 61);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*---------Navbar---------*/
.NavBar{
    margin: auto;
    border: 2px solid white;
    margin-bottom: .6vw;
    height: 3.5vw;
    width: 97vw;
    border-radius: .5vw;
}

#ora{
    color: white;
    font-family:'digital-clock-font';
    height: 3.5vw;
    width: auto;
    border-bottom: 0;
    border-right: 0;
    float: right;
    margin-top: -1.1vw;
}

#ora p{
    font-size: 2vw;
    cursor: default;
    float: right;
    margin-right: .5vw;
}

#VisszaButton{
    display: flex;
}

.VisszaButtonIMG{
    cursor: default;
    margin: .3vw;
}

.VisszaButtonP p{
    margin-left: .5vw;
    margin-top: 1vw;
    color: white;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transition: .6s;
    font-size: 1.2vw;
    opacity: 0;
    cursor: default;
}

.VisszaButtonIMG img{
    width: 3vw;
    cursor: pointer;
}

.VisszaButtonIMG:hover + .VisszaButtonP p{
    opacity: 1;
}
/*---------Bemutatkozás---------*/

/*---------Bemutatkozás---------*/
.BlackBackground{
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Bemutatkozas{
    position: absolute;
    border: 2px solid white;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(75, 75, 75);
    opacity: 0;
    border-radius: .8vw;
    padding: .7vw;
    transition: .6s;
}

.CloseButton{
    opacity: 0;
    width: 25vw;
    height: 2vw;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
}

.CloseButton img{
    width: 1.2vw;
    position: absolute;
    right: .7vw;
    top: .2vw;
    transition: .6s;
    padding: .6vw;
    border-radius: 1.1vw;
    cursor: pointer;
}

.CloseButton img:hover{
    background-color: grey;
}

#CloseButtonDiv{
    font-size: 1.7vw;
    margin-top: -2vw;
    color: white;
}

.BemutatkozasDiv{
    display: flex;
}

.BemutatkozasIMG{
    width: 9vw;
    margin-top: .7vw;
    border-radius: .5vw;
    position: absolute;
    opacity: 0;
}

.BemutatkozasP{
    font-size: 1.2vw;
    margin-left: 9.5vw;
    margin-top: -.4vw;
    text-align: justify;
    color: white;
    opacity: 0;
}

.Megjelenites{
    animation: Megjelenites .6s forwards;
}

.Eltuntetes{
    animation: Eltuntetes .6s forwards;
}

.BemutatkozasMegjelen{
    opacity: 1;
    z-index: 2;
    animation: BemutatkozasMegjelen .8s forwards;
}

.BackMegjelen{
    animation: BackMegjelen .8s forwards;
}

.BemutatkozasEluntet{
    animation: BemutatkozasEluntet .8s forwards;
}

.BackEluntet{
    animation: BackEltuntet .8s forwards;
}

.HarmunkDiv{
    border: 2px solid white;
    width: 97vw;
    height: 48vw;
    margin: auto;
    border-radius: .5vw;
    justify-content: space-around;
    display: flex;
}

.HarmunkDiv div{
    width: 25vw;
    height: 45vw;
    border: 2px solid red;
    margin-top: 1vw;
    border-radius: .6vw;
}

.JaniDiv img, .AdamDiv img, .DaniDiv img{
    width: 22vw;
    height: 28vw;
    display: block;
    border-radius: .4vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: .8vw;
}

.JaniDiv input, .AdamDiv input, .DaniDiv input{
    width: 12vw;
    height: 5.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: .6s;
    font-size: 1.5vw;
    letter-spacing: 0.1em;
    margin-top: 7vw;
    border-top: 0;
    border-bottom: 0;
}

.JaniDiv input:hover{
    width: 16vw;
    letter-spacing: 0.15em;
    border-radius: .6vw 1.5vw .6vw 1.5vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: rgb(0, 153, 255);
    background-color: rgb(39, 39, 39);
    box-shadow: 0 0 10px 0 rgb(0, 153, 255) inset, 0 0 10px 2px rgb(0, 153, 255);
}

.AdamDiv input:hover{
    width: 16vw;
    letter-spacing: 0.15em;
    border-radius: .6vw 1.5vw .6vw 1.5vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: red;
    background-color: rgb(39, 39, 39);
    box-shadow: 0 0 10px 0 red inset, 0 0 10px 2px red;
}

.DaniDiv input:hover{
    width: 16vw;
    letter-spacing: 0.15em;
    border-radius: .6vw 1.5vw .6vw 1.5vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: lime;
    background-color: rgb(39, 39, 39);
    box-shadow: 0 0 10px 0 lime inset, 0 0 10px 2px lime;
}

@keyframes BemutatkozasMegjelen {
    from{width: 0;height: 0; z-index: -1;}
    to{width: 25vw;height: 25vw; z-index: 3;}
}

@keyframes BackMegjelen {
    from{opacity: 0; z-index: -1;}
    to{opacity: 1; z-index: 2;}
}

@keyframes BemutatkozasEluntet {
    from{width: 25vw;height: 25vw; z-index: 3;}
    to{width: 0;height: 0; z-index: -1;}
}

@keyframes BackEltuntet {
    from{opacity: 1; z-index: 2;}
    to{opacity: 0; z-index: -1;}
}

@font-face{
    font-family:'digital-clock-font';
    src: url('digital-7.ttf');
}
/*---------Bemutatkozás---------*/

/*---------Iskola---------*/
.Iskola{
    width: 97vw;
    height: auto;
    border: 2px solid white;
    margin: auto;
    margin-top: .9vw;
    border-radius: .5vw;
}

.Iskola h1{
    text-align: center;
    margin: .6vw 0;
    letter-spacing: 0.15em;
    color: white;
    font-size: 2.2vw;
    text-decoration: underline;
}

.IskolaContainer{
    display: flex;
}

.BelsoIskolaDiv{
    width: 80vw;
    height: 30vw;
    margin: auto;
    margin-top: -5vw;
    display: flex;
}

.BelsoIskolaDiv input{
    height: 2vw;
    width: 6vw;
    margin: auto;
}

.Pictures{
    display: flex;
    margin: auto;
    margin-top: 8vw;
}

.Pictures div{
    height: 20vw;
    width: 25vw;
}

.PreviousPic img{
    transform: perspective(40vw) rotateY(-40deg);
    width: 100%;
    border: 2px solid black;
    opacity: .6;
}

.NextPic img{
    transform: perspective(40vw) rotateY(40deg);
    width: 100%;
    border: 2px solid black;
    opacity: .6;
}

.CurrentPic img{
    width: 100%;
    border: 2px solid black;
}

#ElozoButton, #KovetkezoButton{
    position: absolute;
    top: 67vw;
    width: 9vw;
    height: 3vw;
    margin: auto;
    border-radius: .1vw;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    transition: .8s;
    font-size: .9vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 0;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

#ElozoButton:hover, #KovetkezoButton:hover{
   width: 11vw;
   background-color: rgba(0, 0, 0, 0.5);
   border: 2px solid white;
   border-radius: .4vw;
   box-shadow: 0 0 10px 0 cyan inset, 0 0 10px 2px cyan;
   letter-spacing: 0.4em;
}

#ElozoButton{
    margin-left: .8vw;
    margin-right: -3vw !important;
}

#KovetkezoButton{
    margin-right: .8vw;
    margin-left: -3vw !important;
    right: 1vw;
}

/*---------Iskola---------*/

/*---------Tanárok---------*/

.Tanarok{
    margin: auto;
    margin-top: .8vw;
    height: 30vw;
    width: 97vw;
    border: 2px solid white;
    border-radius: .5vw;
    display: flex;
    justify-content: space-around;
}

.SzabDan, .SzabEman{
    border: 2px solid red;
    width: 15vw;
    height: 25vw;
    margin-top: 2.4vw;
    border-radius: .6vw;
}

/*---------Tanárok---------*/

@keyframes Megjelenites{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes Eltuntetes{
    from{opacity: 1;}
    to{opacity: 0;}
}