body{
    background-color: gray;
}

#ora{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 68, 255, 0.6);
    border-top-left-radius: 4vw;
    color: white;
    font-family:'digital-clock-font';
    height: 3.5vw;
    width: 6vw;
    border: 2px solid white;
    border-bottom: 0;
    border-right: 0;
    z-index: 100;
}

#ora p{
    padding: 0;
    position: absolute;
    bottom: -1.5vw;
    right: .7vw;
    font-size: 2vw;
}

.BlackBackground{
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Bemutatkozas{
    position: absolute;
    border: 2px solid white;
    width: 0;
    height: 0;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(75, 75, 75);
    opacity: 0;
    border-radius: .8vw;
    padding: .7vw;
}

#CloseButton{
    width: 25vw;
    height: 2vw;
    border-bottom: 2px solid white;
}

#CloseButton img{
    width: 1.2vw;
    position: absolute;
    right: .7vw;
    top: .2vw;
    transition: .6s;
    padding: .6vw;
    border-radius: 1.1vw;
    cursor: pointer;
}

#CloseButton img:hover{
    background-color: grey;
}

.Megjelen{
    opacity: 1;
    z-index: 2;
    animation: BemutatkozasMegjelen .8s forwards;
}

.BackMegjelen{
    animation: BackMegjelen .8s forwards;
}

.Eluntet{
    animation: BemutatkozasEluntet .8s forwards;
}

.BackEluntet{
    animation: BackEltuntet .8s forwards;
}

.HarmunkDiv{
    border: 2px solid white;
    width: 97vw;
    height: 48vw;
    margin: auto;
    border-radius: .5vw;
    justify-content: space-around;
    display: flex;
}

.HarmunkDiv div{
    width: 25vw;
    height: 45vw;
    border: 2px solid red;
    margin-top: 1vw;
    border-radius: .6vw;
}

.JaniDiv img, .AdamDiv img, .DaniDiv img{
    width: 22vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .8vw;
}

.JaniDiv input, .AdamDiv input, .DaniDiv input{
    width: 8vw;
    height: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: .6s;
    font-size: 1vw;
    margin-top: 7vw;
    border-top: 0;
    border-bottom: 0;
}

.JaniDiv input:hover{
    width: 10vw;
    border-radius: .6vw 1.5vw .6vw 1.5vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: rgb(0, 153, 255);
    background-color: rgb(73, 73, 73);
    box-shadow: 0 0 10px 0 rgb(0, 153, 255) inset, 0 0 10px 2px rgb(0, 153, 255);
}

.AdamDiv input:hover{
    width: 10vw;
    border-radius: .6vw 1.5vw .6vw 1.5vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: red;
    background-color: rgb(73, 73, 73);
    box-shadow: 0 0 10px 0 red inset, 0 0 10px 2px red;
}

.DaniDiv input:hover{
    width: 10vw;
    border-radius: .6vw 1.5vw .6vw 1.5vw;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: lime;
    background-color: rgb(73, 73, 73);
    box-shadow: 0 0 10px 0 lime inset, 0 0 10px 2px lime;
}

@keyframes BemutatkozasMegjelen {
    from{width: 0;height: 0; z-index: -1;}
    to{width: 25vw;height: 25vw; z-index: 3;}
}

@keyframes BackMegjelen {
    from{opacity: 0; z-index: -1;}
    to{opacity: 1; z-index: 2;}
}

@keyframes BemutatkozasEluntet {
    from{width: 25vw;height: 25vw; z-index: 3;}
    to{width: 0;height: 0; z-index: -1;}
}

@keyframes BackEltuntet {
    from{opacity: 1; z-index: 2;}
    to{opacity: 0; z-index: -1;}
}


@font-face{
    font-family:'digital-clock-font';
    src: url('digital-7.ttf');
}