body{
    background-color: rgb(29, 29, 29);
}

.container{
    display: flex;
    margin: auto;
    width: 60vw;
    height: 25vw;
    border: 2px solid white;
    margin-top: 11vw;
    transition: .8s;
    justify-content: space-around;
    border-radius: .4vw;
}

.RolunkDiv, .FilmekDiv{
    margin-top: 10vw;
    width: 15vw;
    transition: .8s;
}

.RolunkDiv{
    float: left;
}

.FilmekDiv{
    float: right;
}

.RolunkDivButton input, .FilmekDivButton input{
    width: 10vw;
    height: 4vw;
    cursor: pointer;
    border-radius: .4vw;
    color: white;
    background-color: rgb(29, 29, 29);
    border: 2px solid white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: .8s;
    font-size: 1.2vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.RolunkDivButton input:hover, .FilmekDivButton input:hover{
    width: 15vw;
    border-radius: .8vw;
    letter-spacing: 0.2em;
}

.RolunkDivIMG, .FilmekDivIMG{
    text-align: center;
    color: white;
}

.RolunkDivButton:hover + .FilmekDivIMG{
    margin-top: -2vw;
}