body{
    background-color: rgb(46, 46, 46);
}

.MainKeret{
    display: flex;
    border: 2px solid white;
    width: fit-content;
    margin: auto;
    background-color: gray;
    border-radius: .3vw;
    margin-top: 11.5vw;
    transition: .6s;
}

.MainKeret input{
    margin: 5vw;
    width: 12vw;
    height: 14vw;
    background-color: darkgrey;
    border: 2px solid white;
    border-radius: .6vw;
    color: white;
    font-size: 1.6vw;
    transition: .6s;
}

.MainKeret input:hover{
    cursor: pointer;
    background-color: rgb(104, 104, 104);
    font-size: 2.3vw;
    border: 2px solid black;
    border-radius: .2vw;
}

#FilmekButton:hover{
    color: blue;
}

#RolunkButton:hover{
    color: lime;
}